.section-about {
  background-color: var(--bg-btn-color-3);
  margin-top: 120px;

  .container-about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 120px 0px;
    max-width: 1150px;
    margin: 0 auto;
    gap: 30px;

    button {
      background: #fff;
      color: var(--bg-btn-color-3);
    }
  
    .section-info__about,
    .section-image__about {
      flex: 1;
    }
  
    .section-info__about {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      h1 {
        color: #fff;
        font-size: 42px;
        line-height: 50px;
        margin-bottom: 24px;
        font-weight: 500;
        text-align: center;
        max-width: 900px;
      }
  
      p {
        font-size: 1rem;
        line-height: 24px;
        color: #fff;
        opacity: 0.8;
        font-weight: 400;
        margin-bottom: 40px;
        max-width: 600px;
        text-align: center;
      }
    }
  
    .section-image__about {
      img {
        border-radius: 40px;
        object-fit: cover;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .section-about {
    padding: 0 20px;
    .container-about {

      .section-info__about {
        h1 {
          font-size: 1.5rem;
          line-height: 2rem;
        }
      }
    }
  }
}